.todo-item {
    width: 320px;
    padding: 1px;
    border: 1px solid #604444;
    margin: 0;
    text-align: center;
}

.todo-item  .todo-done {
    text-decoration: line-through;
}

.todo-title {
    font-weight: bold;
}

.todo-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px
}

.todo-empty {
    font-size: 11px;
}