.todo-item {
    width: 320px;
    padding: 1px;
    border: 1px solid #604444;
    margin: 0;
    text-align: center;
    font-size: 11px;
    color: black;
}

.todo-item  .todo-done {
    text-decoration: line-through;
}

.todo-title {
    font-weight: bold;
    text-align: center;
}

.todo-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    justify-content: center;
}

.todo-row .todo-delete-button {
    cursor: pointer;
}

.todo-empty {
    font-size: 11px;
    text-align: center;
}

.todo-add{
    margin-top: 10px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.todo-add .todo-add-button {
    cursor: pointer;
    border: none;
    color: white;
    background-color: dodgerblue;
}